*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.zst
*.tar.lz
*.tar.lzma
*.tar
*.tgz
*.zip
*.rar
*.sig
*.asc
*.log
*.log.[0-9]*
/ports/*/src/
/ports/*/pkg/
*~
*.swp
*.swo
/*/*-git/
/*/*-svn/
/*/*-hg/
/.vscode/
/dist*/
/deps.json
/deps.txt
/msys.txt
/pkg_info.sh
